<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.caipuandroid">


    <application>
        <activity android:name=".CaipuMainActivity"/>
        <activity android:name=".ui.CategoryActivity"/>
        <activity android:name=".ui.TestLeackActivity"/>
        <activity android:name=".ui.GoodsAddActivity"
                  android:windowSoftInputMode="stateVisible|adjustResize" />
    </application>

</manifest>